/* My-work */

.my-work {
	padding-bottom: 5rem;
	border-bottom: 3px solid rgb(90, 82, 82);
}

.my-work .title {
	padding: 3rem 0;
	text-align:center;
	width: 85%;
	margin: 0 auto;
}


.my-work .title-main {
	position: relative;
	padding: 10px;
	margin: 10px;
}

.my-work .span {
	text-align: center;
}

.my-work span {
	margin: 0 10px;
	padding-bottom: 7px;
	cursor: pointer;
}

.my-work .select-item {
	border-bottom: 2px solid rgba(201, 12, 72);
	color: rgba(201, 12, 72);
}

.my-work .container {
	display: grid;
	grid-template-columns: auto auto;
	grid-gap: 0 20px;
}

.my-work .container .block-img {
	padding: 30px 0;
	border-bottom: 1px solid rgb(90, 82, 82);
}

.my-work .img {
	background-size: cover;
	background-repeat: none;
    border-bottom: 2px solid rgb(90, 82, 82,0.5);
	width: 100%;
	height: 17rem;
	border-radius: 5px;
	padding: 20px;
}

.my-work .figure {
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255,.8);
    color: #333;
	transition: .5s;
	transform: rotateX(90deg);
	position: relative;
}

.my-work .figure div {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

.my-work .figure div i {
	border-radius: 5px;
	font-size: 20px;
	padding: 8px;
	margin: 5px;
	background-color: rgba(201, 12, 72);
	color: #fff;
	cursor: pointer;
}

.my-work .img:hover .figure{
    transform: rotateX(0);
}

/* contact-me */

.contact-me {
	height: 100vh;
}

.contact-me .title {
	padding: 3rem 4rem;
	text-align: center;
}

.contact-me .title h1 {
	position: relative;
	padding-bottom: 10px;
	margin-bottom: 8px;
}


.form .container div input {
	margin: 1rem 0;
	background-color: rgb(224, 224, 209,0.2);
	color: white;
	border: 1px solid #fff;
}

input:focus {
	outline: none;
}

.input-name-email {
	display: flex;
	justify-content: space-between;
}

#input-name {
	flex-basis: 49%;
	height: 2.5rem;
	padding: 10px;
}
#input-email {
	flex-basis: 49%;
	height: 2.5rem;
	padding: 10px;
}

.form .container .input-subject {
	width: 100%;
}

.form .container .input-subject input{
	width: 100%;
	height: 2.5rem;
	padding: 10px;
}

.form .container .comment input {
	width: 100%;
	padding: 10px 10px 8rem;
}

.form .container .button {
	width: 100%;
	text-align: center;
	margin-top: .8rem;
}