* {
	box-sizing: border-box;
	margin: 0;
}

body {
	background-image: url(images/page-bg.jpg);
	background-size:cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.btn {
	width: 130px;
	height: 40px;
	color:  rgba(201, 12, 72,0.7);
	background-color: #fff;
	border: none;
	font-size: 16px;
	font-weight: bold;
}

.title-main::before {
	
}


#header {
	width: 100%;
	height: 100vh;
}

#side {
	width: 20%;
	height: 100%;
	background-color: rgba(201, 12, 72,0.7);
	display: flex;
	margin-left: 10%;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	color: #fff;
	position: fixed;
}

.row-1 {
	flex-basis: 40%;
	position: relative;
}
.row-1 div {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}
.row-1 div h2 {
	margin-top: 20px;
	font-size: 30px;
}
.row-2 {
	flex-basis: 30%;
	width: 100%;
	text-align: center;
}
.row-2 a:first-child {
	background-color:#fff;
	color: rgba(201, 12, 72,0.7);
}
.row-2 a {
	display: block;
	text-decoration: none;
	color: #fff;
	font-size: 20px;
	padding: 20px;
	border-bottom: white 2px solid;
}
.row-2 a:hover {
	background-color: #fff;
	color: rgba(201, 12, 72,0.7);
}
.row-3 {
	flex-basis: 20%;
	position: relative;
	width: 100%;
}
.icon-links {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 75%;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.icon-links i {
	font-size: 20px;
	padding: 10px;
	background-color: rgba(0,0,0,0.4);
}
.icon-links i:hover {
	background-color: #fff;
	color: rgba(201, 12, 72,0.7);
}
.row-4 {
	flex-basis: 10%;
	text-align: center;
	position: relative;
	width: 100%;
	border-top: #fff 2px solid;
}
.row-4 p {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	width: 60%;
}

#side img {
	border-radius: 50%;
}

/*---- about me  -----*/

#block_content {
	color: white;
	margin-left: 35%;
	margin-right: 13%;
}

.about-me .row-1 h1 {
	font-size: 40px;
}

.about-me .row-1 {
	height: 200px;
}

.about-me .row-1 div {
	width: 80%;
	text-align: center;
}

.about-me .row-2 {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	border-bottom: 1px solid rgb(90, 82, 82);
	padding: 50px 0;
}

.about-me .row-3 {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	border-bottom: 3px solid rgb(90, 82, 82);
	padding: 50px 0;
}

.about-me .row-2 .img{
	flex-basis: 48%;
}

.about-me .row-3 .img {
	flex-basis: 48%;
}

.card-image {
	width: 100%;
	height: auto;
	border-radius: 10px;
}

.about-me .row-2 .content {
	flex-basis: 48%;
	text-align: left;
	padding-top: 50px;
	
}

.about-me .row-3 .content {
	flex-basis: 48%;
	text-align: left;
	padding-top: 50px;

}

.content {
	position: relative;
}

.content h2 {
	margin-bottom: 20px;
}

.content p {
	margin-bottom: 20px;
	font-size: 17px;
}

.content div {
	width: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}